<div class="container">
    <div class="span12">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">V<span class="emerald-highlight">o</span>yage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Destinations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Criuses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Specials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Holidays</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
</div>
