<swiper [config]="swiperConfig" >
  <div class="swiper-wrapper">
		<div class="swiper-slide ">
			<div class="banner ">
					<img src={{slideImages[0]}} />
					<h1 class="banner-lg-text">To travel is to live</h1>
					<h3 class="banner-md-text">You Don't Need Magic to Disappear. All you need is a destinatio</h3>
					<div class="banner-button-wrapper">
						<button class="btn emerald-btn">Show on the map</button>
						<button class="btn emerald-btn">More info</button>
					</div>
			</div>
    </div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</swiper>
