<div class="row footer mx-auto justify-content-center">
  <div class="col">
    <h3 class="footer-header"> Newsletter</h3>
    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.</p>
    <form class="form-inline">
    <div class="form-group mb-2">
      <label for="staticEmail2" class="sr-only">Email</label>
      <input type="text" class="form-control" id="staticEmail2" value="Subsrcibe...">
    </div>
    <button type="submit" class="go-btn btn mb-2">GO</button>
  </form>
  </div>
  <div class="col">
    <h3 class="footer-header"> Latest News</h3>
    <div class="news">
      <div class="news-item">
        <div class="row">
          <div class="col-2">
            <img class="news-thumnail" src="../assets/news-thumnail1.png">
          </div>
          <div class="col-10">
            <p class="news-title">Postformat Gallery: Multiple images</p>
            <p class="news-date">October 21, 2013 - 3:31 pm</p>
          </div>
        </div>
      </div>
      <div class="news-item">
        <div class="row">
          <div class="col-2">
            <img class="news-thumnail" src="../assets/news-thumnail2.png">
          </div>
          <div class="col-10">
            <p class="news-title">Snowboarding is fun!</p>
            <p class="news-date">December 12, 2012 - 9:11 pm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <h3 class="footer-header"> Tags</h3>
    <div class="tags">
      <span class="tag">Agent Login</span>
      <span class="tag">Customer Login</span>
      <span class="tag">Not a Member?</span>
      <span class="tag">Contact</span>
      <span class="tag">New Horizons</span>
      <span class="tag">Landscape</span>
      <span class="tag">Tags</span>
      <span class="tag">Nice</span>
      <span class="tag">Some</span>
      <span class="tag">Portrain</span>
    </div>
  </div>
  <div class="col">
    <h3 class="footer-header"> Address</h3>
    <p class="address">DieSachbearbeiter Schönhauser Allee 167c,10435 Berlin Germany</p>
    <p class="email"><span class="email-highlight">E-mail:</span> moin@blindtextgenerator.de</p>
    <div class="social">
      <a class="social-item" href="#"><img src="../assets/facebook.png"></a>
      <a class="social-item" href="#"><img src="../assets/twitter.png"></a>
      <a class="social-item" href="#"><img src="../assets/tumblr.png"></a>
      <a class="social-item" href="#"><img src="../assets/pininterest.png"></a>
    </div>
  </div>
</div>
